.telaInicial{
	-fx-background-color: #DCE2ED;
}

.boxTituloPrincipal{
	-fx-background-color: #4258d7;
	-fx-padding: 0 303px 0 303px;
}

.tituloPrincipal{
	-fx-text-fill: white;
	-fx-font-size: 40px;
	-fx-text-align: center;
	-fx-padding: 10px;
}

.telaLogin{
	-fx-font-size: 16px;
}

.botoesMenuPrincipal{
	-fx-font-size: 25px;
	-fx-background-color: #4258d7;
	-fx-text-fill: white;
	-fx-text-align: center;
	-fx-background-radius: 5px;
}

.botoesMenuPrincipal:hover{
	-fx-background-color: #2a2879;
}


.botaoDeSubMenu{
	-fx-font-size: 25px;
	-fx-background-color: #4258d7;
	-fx-text-fill: white;
	-fx-text-align: center;
	-fx-background-radius: 5px;
}

.botaoDeSubMenu:hover {
	-fx-background-color: #2a2879;
}

.tituloNavegacao{
	-fx-font-size: 25px;
}

.telasDeMenu{
	-fx-font-size: 16px;
	-fx-background-color: #DCE2ED;
}

.botaoDeConfirmacao{
	-fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-background-color: #4258d7;
	-fx-text-align: center;
	-fx-background-radius: 5px;
}

.botaoDeConfirmacao:hover{
	-fx-background-color: #2a2879;
}

.janelaDeConfirmacao{
	-fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-background-color: #c7ffc5;
	-fx-text-align: center;
}

.simboloConfirmacao{
	-fx-font-size: 25px;
}

.janelaDeExcecao{
	-fx-font-size: 16px;
	-fx-text-fill: white;
	-fx-background-color: #ffb8b8;
	-fx-text-align: center;
}

simboloExcecao{
	-fx-font-size: 25px;
}



